#startPage{
    margin-top: 20%;
}

#crownImg{
    margin-top: 50px;
    margin-left: 10%;
}

#crownImgHead{
    margin:0px 45% 0px 45%;
    width:50px;
}

#pageHead{
    background-color: #250303;
    border-bottom: solid;
    border-width: 3px;
    border-color: #1c1c1d;
}

#startBtn{
    margin-left: 40%;
}

#modeSelect{
    margin-left: 30%;
    margin-top: 90%;
}

#listModeSelect{
    margin-top: 90%;
}

#points{
    margin: 10px;
}

#list{
    margin-top: 20px;
    background-color: #c7a879;
    border: solid;
    border-width: 3px;
    border-color: #1c1c1d;
    border-radius: 3px;

    box-shadow:
    0 0 0 5px #b48319,
    0 0 0 8px #1c1c1d;
}

#factionHeader{
    margin: 10px;
    margin-left: 15%;
}

#kateria{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

.unitDisplay{
    margin: 10px;
}

.crownBtn{
    background-color: #a3a7ad;
    border-style: solid;
    border-width: 3px;
    border-color: #2c250f;
    border-radius: 3px;
    font-family: 'Germania One', cursive;
}

body{
    background-color: #4b0505;
}

hr{
    border-style: solid;
    border-width: 3px;
    border-color: #2c250f;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Germania One', cursive;
}

.unitBtn{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.unitCld{
    display: inline-block;
}

.unitName{
    margin: 10px;
}

.unitClsr{
    margin: 6px;
    position: absolute;
    right: 10%;
}

#factionSelect{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #c7a879;
    border: solid;
    border-width: 3px;
    border-color: #1c1c1d;
    border-radius: 3px;

    box-shadow:
    0 0 0 5px #b48319,
    0 0 0 8px #1c1c1d;
}

@media only screen and (max-width:360px) {
    #crownImg{
        margin-left: 15px;
    }

    #factionHeader{
        margin: 10px;
        margin-left: 10%;
    }
    
    #kateria{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 768px) {
    #crownImg{
        margin-left: 33%;
    }

    #startBtn{
        margin-left: 44%;
    }

    #modeSelect{
        margin-left: 40%;
        margin-top: 50%;
    }

    #listModeSelect{
        margin-top: 50%;
    }

    #kateria{
        margin-left: 40%;
    }

    #factionHeader{
        margin-left: 35%;
    }
}